<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>exam_servlet</display-name>
    <servlet>
        <servlet-name>Login_servlet</servlet-name>
        <servlet-class>Controller.exam_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Questionservlet</servlet-name>
        <servlet-class>Controller.Questionservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Updata_servlet</servlet-name>
        <servlet-class>Controller.Updata_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_servlet</servlet-name>
        <servlet-class>Controller.delete_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Questionpaper_servlet</servlet-name>
        <servlet-class>Controller.Questionpaper_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exam_servlet1</servlet-name>
        <servlet-class>Controller.exam_servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exam_servlet</servlet-name>
        <servlet-class>Controller.exam_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>selectque_servlet</servlet-name>
        <servlet-class>Controller.selectque_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Result_servlet</servlet-name>
        <servlet-class>Controller.Result_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login_servlet</servlet-name>
        <url-pattern>/Login_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Questionservlet</servlet-name>
        <url-pattern>/Questionservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Updata_servlet</servlet-name>
        <url-pattern>/Updata_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_servlet</servlet-name>
        <url-pattern>/delete_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Questionpaper_servlet</servlet-name>
        <url-pattern>/Questionpaper_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exam_servlet1</servlet-name>
        <url-pattern>/exam_servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exam_servlet</servlet-name>
        <url-pattern>/exam_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>selectque_servlet</servlet-name>
        <url-pattern>/selectque_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Result_servlet</servlet-name>
        <url-pattern>/Result_servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
